name: Deploy Lint Report

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Git
        run: |
          git config --global user.name "aman"
          git config --global user.email "amanavelon@gmail.com"

      - name: Copy Lint Report to GitHub Pages Branch
        run: |
          git fetch origin gh-pages
          git checkout gh-pages || git checkout --orphan gh-pages
          powershell -Command "Copy-Item -Path 'app\build\reports\lint-results-debug.html' -Destination 'app\lint\' -Force"
          git add app/lint
          git commit -m "Update lint report" || echo "No changes to commit"
          git push origin gh-pages
